*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}
.body{
    font-family: Montserrat;
    font-size: 14px;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.conteiner {
  border: 5px solid red;
  width: 1600px;
  margin: 0 auto;
  height: 2800px;
  position: relative;
}

.header {
  background: #222;
  width: 100%
  height 75px;
}

.background__main {
  height: 764px;
  background: #F1E4E6;
  position: relative;
}

.text_main{
  position: absolute;
  left: 55.75%;
  right: 20.69%;
  top: 50%;
  bottom: 86.86%;
}

.offer {
  width: 1142px;
  height: 470px;
  padding-top: 64px;
  margin: auto;
  position: relative;
}

.women {
  height: 260px;
  width: 360px;
  position: absolute;
}

.men {
  height: 260px;
  width: 360px;
  position: absolute;
}

.kids {
  height: 260px;
  width: 360px;
  position: absolute;
}

.accesories {
  height: 180px;
  width: 1140px;
  position: absolute;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
